body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex{
  display: flex;
}

.font-1 {
  font-family: 'Libre Baskerville' !important;
}

.font-2 {
  font-family: 'Josefin Sans' !important;
}

.navbar{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  /* padding-left: 100px; */
  margin: auto;
  background-color: white;
}

.nav-title{
  width: 40%;
  margin: auto;
}

.logo-navbar{
  margin-left: 100px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  width: 35%;
}

.nav-menu{
  margin-right: auto;
}

.nav-item{
  margin-right: 25px;
  text-decoration: none;
  color: #18191F;
}

.btn-hubungi-wa{
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  height: 25px;
  background-color: #023F3A;
  color: white;
  gap: 4px;
  border: none;
}

.p-icon{
  margin: auto;
}

.icon-button{
  margin:auto;
  margin-right: 5px;
}

.home-page{
  /* margin-top: 50px; */
}

.background-wave{
  background-image: url('/src/assets/wave-asset.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 700px;
}

.hero{
  width: 65%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.hero-head{
  padding-top: 100px;
  color: white;
  font-size: 2em;
  width: 100%;
}

.hero-text{
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 25px */
  text-align: center;
  /* systemGrey/100 */
  color: #F5F5F5;
}

.img-home-1{
  width: 825px;
  height: 419px;
  padding-top: 20px;
}

.box-w{
  display: block;
  background-color: #fff;
  margin: auto;
  padding: 70px 150px;
}

.text-green{
  color:#023F3A;
}

.content-1{
  padding-top:50px;
}

.content-1-1{
  width: 45%;
  margin-left: auto;
}

.text-content-1{
  color: #525560;
}

.content-1-2{
  width: 45%;
}

.mr-a{
  margin-right: auto;
}

.img-home-2{
  padding: 10px 15px;
}

.box-gal{
  background-color: #F2EEE9;
  padding: 50px 120px;
}

.t-lihat-semua{
  color: #333;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  margin-top: auto;
  cursor: pointer;
}

.show-galeri{
  width: 100%;
}

.show-galeri-1{
  padding-top:20px;
  margin: auto;
}

.b-icon-1{
  width: 25px;
  height: 25px;
  background-color: #023F3A;
  border-radius: 25px;
  padding: 10px;
}

.icon-1{
  width: 100%;
}

.f-20{
  font-size: 22px;
}

.t-grey{
  color: #525560;
}

.label-form{
  width: 100%;
  font-size: 15px;
}

.form-email{
  width: 30%;
}

.form-input{
  width: 100%;
  margin-top: 15px;
}

.input-email{
  background: #FFFFFF;
  border: 1px solid #D5DAE1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 100%;
  padding:10px 0px;
  padding-left:10px;
  margin-top: 10px;
}

.input-textarea{
  background: #FFFFFF;
  border: 1px solid #D5DAE1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 100%;
  height: 150px;
  padding:10px 0px;
  padding-left:10px;
  margin-top: 10px;
}

.btn-send-email{
  background-color: #023F3A;
  padding:10px 50px;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-send-email:hover{
  background-color: white;
  color: #023F3A;
  border: 1px solid #023F3A;
}

.m-a{
  margin: auto;
}

@media only screen and (max-width: 600px) {
  
  .navbar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    /* padding-left: 100px; */
    margin: auto;
    border: 1px solid black;
  }

  .logo-navbar{
    width: 100px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}